img{border-radius: 75%; width: 50%px; float:left; height: 200px; margin-left:50px;} 

div.right{
    float: right; width: 50%;
}
.doctors {
    padding-top: 100px; /* Adjust as needed */
    position: relative; 
}