@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green:green;
    --black:black;
    --red:red;
    --light-color:#777;
    --box-shadow:5 rem .5rem rgba(22,160,133,.2);
    --text-shadow:4 rem .4rem rgba(0,0,0,.2);
    --border:2rem solid var(--black);
}
*{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-transform:capitalize;
    transition:all .2s ease-out;
    text-decoration:none;

}
html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top:7rem;
    scroll-behavior: smooth;
    
}
.header{
    padding:2rem 9%;
    position:fixed;
    top:0;left: 0;right:0;
    z-index:1000;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    display: flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;

}

.header .logo {
    font-size: 2.5rem;
    color:var(--black);
}
.header .logo i{
    color:var(--red);
}



.header .navbar a{
    font-size:1.7rem;
    color:var(--light-color);
    margin-left:2rem;
    
}
.header .navbar a:hover{
    color:var(--green);
}

#menu-btn{
    font-size:2.5rem;
    border-radius:10%;
    background:#eee;
    color:var(--green);
    padding:1rem 1.5rem;
    cursor:pointer;
    display:none;

}
img{
    height:500px;
    margin-left:50%;
    margin-top:15%;
}
h3 {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-top: -24%;
    font-size: 40px;
    height: 600px;
    width: 900px;
}
p{
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-top: -34%;
    font-size: 20px;
    height: 600px;
    width: 900px;
}
#p2{
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-top: -37%;
    font-size: 15px;
    height: 600px;
    width: 900px;
}
.btn{
    display:inline-block;
    margin-top:-20%;
    padding:.3rem;
    padding-left:1rem;
    border:var(--border);
    border-radius:.7rem;
    box-shadow:var(--box-shadow);
    color:var(--light-color);
    cursor:pointer;
    top:-200;
    margin-left:20%;
    font-size:1.5rem;

}
.btn span{
    padding:.7rem 1rem;
    border-radius:.6rem;
    background:var(--light-color);
    color:#fff;
    margin-right:.5rem;
    margin-top: -34%;

}



















@media(max-width:991px){
    html{
        font-size:55%;  
    }
    .header{
        padding:2rem;
    }
}
@media(max-width:450px)
{
    html{
        font-size:50%;
    }
    .header{
        font-size:55%;
    }
    .h3{
        font-size:55%;

    }
}
@media(max-width:450px){
    #menu-btn{
        display:initial;
    }
    .header .navbar{
        position:absolute;
        top:115%;right:2rem;
        border-radius:.5rem;
        width:30rem;
        border:var(--border);
        background:#555;
        transform: scale(0);
        

    }
    .header .navbar a{
        font-size:2rem;
        display:block;
        margin:2.5rem;

    }
}